.titulo {
    font-weight: bolder;
}

h3 {
    color: aliceblue;
    text-align: end;
    background-color: brown;
    border: solid 2px grey;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 21px;
}

ul {
    text-align: end;
}